@model ProductManagementSystem_MVC.Models.Product

<h1>Product Details</h1>

<div>
    <h4>@Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>
        <dt class="col-sm-2">Stock</dt>
        <dd class="col-sm-10">@Model.Stock</dd>
    </dl>
    <p>
        <a href="@Url.Action("Edit", "Product", new { id = Model.ProductId })" class="btn btn-primary">Edit</a>
        <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to List</a>
    </p>
</div>
